.campo-texto {
    margin: 24px 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.campo-texto input {
    width: 100%;
    border: none;
    padding: 24px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
}