.title h2 {
    font-size: 40px;
    color: #6278F7;
    font-weight: 400;
    margin: 0px 12px;
    line-height: 72px;
    text-align: center;
    font-family: 'Prata', serif;
}

.line {
    width: 100%;
    height: 4px;
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
}

.line div {
    background-color: #6278F7;
    width: 64px;
    height: 4px;
}